<div class="jumbotron">
  <h1>Your stocks dashboard</h1>
  <button class="btn btn-success float-right" data-toggle="modal" data-target="#addStockModal">Add New Stock</button>
</div>

<div class="stock-row">
  <% @user.stocks.each do |stock| %>
  <div class="stock-card" style="background: #FF813E; color: white">
    <p id="stock-price"><%= company_name(stock.symbol) %></p>
    <p id="stock-header"><%= stock_price(stock.symbol) %></p>
  </div>
  <% end %>
</div>

<%= render "modal" %>
