// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stock-row {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 1rem;

  .stock-card {
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    p#stock-header {
      font-size: 1em;
    }
    p#stock-price {
      font-size: 2em;
    }
  }
}
